modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Next.js App"

[[workflows.workflow]]
name = "Next.js App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 44267
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "start"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN = "whaaa-6f64d.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_DATABASE_URL = "https://whaaa-6f64d-default-rtdb.firebaseio.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID = "whaaa-6f64d"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET = "whaaa-6f64d.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "828749821160"
NEXT_PUBLIC_FIREBASE_APP_ID = "1:828749821160:web:3b00b5446c8cd1722bc55d"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID = "G-M45W939MHR"

[userenv.production]

[userenv.development]
